/* Global Style */

:root {
    /* Colors */
    --color-400: hsl(245, 10%, 19%);
    --color-600: hsl(245, 10%, 14%);
    --color-800: hsl(245, 10%, 9%);
    --color-shadow: hsla(245, 10%, 4%, 20%)
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-800);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
} 

/* Typography */


/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-400);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .2rem var(--color-shadow);
    z-index: 1000;
    padding: 1rem 0;
    width: 100%;
}

.open-btn {
    position: fixed;
    left: 2rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.logo {
    font-size: 2rem;
    transition: 0.5s; 
}

/* SIDEBAR */
/* Color Pallet Interface */

.color-pallet-interface {
    background-color: var(--color-600);
    height: 100vh; 
    width: 22rem; 
    position: fixed; 
    z-index: 9999999; 
    top: 0;
    left: 0;
    overflow-x: hidden; 
    padding-top: 1.5rem; 
    transition: 0.5s; 
    box-shadow: .2rem .2rem var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.color-pallet-interface-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.close-btn {
    font-size: 1.5rem;
    color: #fff;
    background-color: transparent;
    border: 0;
    margin-top: .2rem;
    cursor: pointer;
}

.color-pallet-interface-header {
    align-self: center;
}

.color-pallet-interface-body {
    display: flex;
    flex-direction: column;
}

/* Color Pallet Interface - pallet settings */

.pallet-settings-header {
    margin: 3rem 0 .5rem;
    
}

.pallet-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.color-pallet-size-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.color-pallet-size-range {
    -webkit-appearance: none;
    background: var(--color-800);
    border-radius: .25rem;
    height: .4rem;
    width: 73%;
    opacity: 0.7;
}

.color-pallet-size-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    border-radius: 50%; 
    width: .75rem;
    height: .75rem;
}

.color-pallet-size-range::-moz-range-thumb {
    background: #fff;
    border-radius: 50%; 
    width: .75rem;
    height: .75rem;
}

.color-pallet-size-text {
    color: var(--color-800);
    width: 3rem;
    border-radius: .25rem;
    padding: .5rem;
    width: 20%;
}

.color-pallet-display-type-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: .75rem;
    min-width: 100%;
}

.color-pallet-display-type {
    color: var(--color-800);
    border-radius: .25rem;
    padding: .5rem;
    margin-top: .5rem;
}

/* Color Pallet Interface - color picker */

 .color-picker {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.color-picker-header {
    margin: .5rem 0 .75rem;
}

.color-picker .react-colorful {
    border-radius: .25rem;
    margin: .75rem 0 1rem;
    width: 100%;
}

.color-picker-form {
    display: flex;
    flex-direction: column;
} 

.input-pair {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.color-input {
    font-weight: 700;
    color: var(--color-800);
    border-radius: .25rem;
    padding: .5rem;
    margin-top: .5rem;
    width: 100%;
    
}

/* Color Pallet Display */

.color-pallet-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-width: 60vw;
    transition: 0.5s; 
}

.color-pallet-title{
    font-size: 2rem;
    font-weight: 400;
}

.color-pallet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.color-pallet-title {
    margin-bottom: 1rem;
}

/* Color */

.color {
    background-color: #fff;
    width: 10rem;
    height: 10rem;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: .1rem .2rem var(--color-shadow);
    cursor: pointer;
}